.features {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 2rem;
}

.card {
  box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  text-align: center;
  height: 8rem;
  width: 20rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  row-gap: 2rem;
  column-gap: 1rem;
}
