.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.card {
  border: solid 1px;
  text-align: center;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}
